/* src/components/ui/CategoryBar.module.css */
.barContainer {
  width: 100%;
  background: #ffffff;
  border-radius: 0 20px  20px 20px;
  border: 2px solid #0f0f0f;
  border-bottom: 6px solid #0f0f0f;
  border-right: 4px solid #0f0f0f;
  overflow: hidden;
  position: relative;
  z-index: 5;
}

.barContainerAttached {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.darkMode {
  background: #0f0f0f;
  border-color: #ff85e5;
  border-bottom: 6px solid #ff85e5;
  border-right: 4px solid #ffffff;
}

.contentWrapper {
  display: flex;
  flex-direction: column; /* Bikin judul di atas, tombol di bawah */
  align-items: flex-start; /* Tetap rata kiri sesuai mau lo */
  justify-content: center; /* Ini yang bikin dia CENTERED secara vertikal */
  padding: 1rem 2rem;
  min-height: 100px; /* Kita lebarin dikit biar nggak sesek */
  gap: 1rem;
}

.title {
  font-family: 'Lexend', sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #0f0f0f;
  margin: 0; 
  line-height: 1;
}

.darkMode .title {
  color: #ffffff;
}

.drawerWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.categoryTooltip {
  position: absolute;
  top: 15%;
  left: calc(100% + 15px);
  color: #0a0a0a;
  padding: 6px 12px;
  border-radius: 10px;
  font-size: 0.75rem;
  font-weight: 600;
  background: linear-gradient(
    90deg,
    #ff85e5 65%,
    #ffbff4 85%,
    #ffffff 100%
  );
  z-index: 10;
  border: 2px solid #0a0a0a;
  white-space: nowrap;
}

.categoryTooltip::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: transparent #0a0a0a transparent transparent;
}

.darkMode .categoryTooltip {
  background: linear-gradient(
    90deg,
    #190b61 65%,
    #140a49 85%,
    #0a0a0a 100%
  );
  border-color: #ff85e5;
  color: #ffffff;
}

.darkMode .categoryTooltip::after {
    border-color: transparent #ff85e5 transparent transparent;
}
